<html>
	<head>
		<title>Re(ge)xi</title>
		<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}"/>
		<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}" />
		<script type="text/javascript">
			var api_url = "{{url_for('check_regex')}}";
		</script>
		<script type='text/javascript' src="{{url_for('static', filename='js/ajax.js')}}"></script>
	</head>
	<body>
		<table align='center' width='75%'>
			<tr>
				<td>
					<div class='media'>
						<div class='media-body'>
						<h1 class='display-1'>Re(ge)xi</h1>
						<h5 class='display-5'>By Ofir Barkay & Corona</h5>
						</div>
						<img class='img' src="{{url_for('static', filename='img/dog.png')}}"/>
					</div>
					<hr>
				</td>
			</tr>
			<tr>
				<td>
					<div class='input-group mb-3'>
						<div class='input-group-prepend'>
							<span class='input-group-text'>Pattern</span>
						</div>				
						<input type='text' class='form-control' id='pattern' placeholder="Regex Pattern" onkeyup="check_regex(api_url)"/>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="input-group mb-3">
						<div class='input-group-prepend'>
							<span class='input-group-text'>Test Text</span>
						</div>
						<textarea id='text_area' placeholder='Text To Match Pattern Within' class='form-control' rows='3' onkeyup="check_regex(api_url)"></textarea>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id='result_summary' align="center" class='alert alert-primary' role='alert' style="visibility: hidden;">
					</div>
					<div class='shadow-sm p-3 mb-5 bg-white rounded' id='result_text'align="center
				" style="visibility: hidden;">
					</div>
				</td>
			</tr>
		</table>
	</body>
</html>